html
	head
		title
	body
		form(method="post",enctype="multipart/form-data",action="/")
			p
				input(type="text",name="title",placeholder="title")
			p
				input(type="file",name="upl")
			p
				input(type="submit")
