html
	head
		title
	body
		form(method="post",enctype="multipart/form-data",action="/")
			p
				input(type="file",name="enk")
			p
				input(type="file",name="ent")
			p
				input(type="submit")
